{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class=" justify-content-center">
<div class="col-12">
<form method="POST">
<div class="form-group">
    <label for="title">Title</label><br>
    <input name="title" id="title" placeholder="Title" type="text" value="{{ dish.title }}"/><br>
</div>
<div class="form-group">
    <label for="desc">Description</label><br>
    <textarea name="description" placeholder="Description" id="desc" cols="40" rows="5">{{ dish.description }}</textarea>
</div>
<div class="form-group">
    <label for="type_of_food">Type_of_food</label><br>
    <input name="type_of_food" placeholder="Type_of_food" type="text" value="{{ dish.type_of_food }}"/><br>
</div>
<div class="form-group">
    <label>Price</label><br>
    <input name="price" type="number" value="{{ dish.price }}"/><br>
</div>
<div class="form-group">
    <label>Small icon URL</label><br>
    <input name="small" type="url" value="{{ dish.small }}"><br>
</div>
<div class="form-group">
    <label>Large Cover</label><br>
    <input name="cover" type="url" value="{{ dish.cover }}">
</div>

<input type="submit" value="Save dish">
</form>
</div>
</div>
</div>
{% endblock %}